<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>iManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/5.0.6/metro.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/icons.css">


</head>


<body>
    <!-- Top Menu Bar Fragment -->
    <div th:replace="~{fragments/menubar :: iMgrAppBar(userDetails=${userDetails})}"></div>



    <div class="row-12" style="padding: 150px;">
        <div class="frame">

            <div class="remark info " style="padding-top: 10px; margin: 2px">
                <h2>Runtime Exception!</h2>
                <h6 style="color: gray"> Problem Details </h6>
                <small style="color: darkgray" th:text="${formError}">Not able to persist Entity </small>
                <div>
                    <a href="#" class="button primary rounded outline mini" th:href="@{/home}" role="button"
                        style="margin-left: 600px;"> <span class="mif-backspace icon" style="margin-left: 0px"></span>
                        <span style="margin-left: px">Back to Home</span>
                    </a>
                </div>
            </div>





        </div>
    </div>

    <script src="https://cdn.metroui.org.ua/5.0.6/metro.js"></script>
</body>

</html>