<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>iManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/5.0.6/metro.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/icons.css">


</head>

<body>
    <!-- Top Menu Bar Fragment -->
    <div th:replace="~{fragments/menubar :: iMgrAppBar}"></div>



    <!-- Token ocnfig - Starts  -->
    <div class="colspan-5" style="margin-top: 50px;padding: 20px;">
        <div class="card bg-white bd-lightCyan" style="padding: 20px; width:60%;">
            <h6 style="color:  #239EE3; background-color: #F7FCFE;padding: 10px; ">Please re-enter password for API(s)
                Principal Propogation
            </h6>


            <form th:object="${credentials}" th:action="@{'/pp'} " method="post">

                <div class="cell-9" style="margin-top: 15px; margin-bottom: 10px;">
                    <input type="password" data-role="materialinput" placeholder="Password"
                        data-icon="<span class='mif-key'>" data-label="Password"
                        data-informer="Enter password used for login" data-cls-line="bg-cyan" data-cls-label="fg-cyan"
                        data-cls-informer="fg-lightCyan" data-cls-icon="fg-darkCyan" th:field="*{password}">
                </div>


                <div class="cell-11 offset-10" style="margin-top: 10px; margin-bottom: 10px;">
                    <button class="button rounded" style="background-color: #239EE3; color: white">
                        <span class="mif-floppy-disk" style="margin-left: 0px"> </span> <span
                            style="margin-left: 3px">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- URL config Form Row - Ends  -->
    </div>

    <script src="https://cdn.metroui.org.ua/5.0.6/metro.js"></script>
</body>

</html>