<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>iManager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/5.0.6/metro.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/current/icons.css">


</head>

<body>
    <!-- Top Menu Bar Fragment -->
    <div th:replace="~{fragments/menubar :: iMgrAppBar(userDetails=${userDetails})}"></div>

    <div class="colspan-9" style="margin-top: 50px;padding: 20px;">
        <div class=" card bg-white bd-lightCyan" style="padding: 20px; width:80%;">
            <h6 style="color:  #239EE3; background-color: #F7FCFE;padding: 10px; ">Add Trigger for Scrip -
                <span style="color: #1880BB; font-weight: bold; font-size: 1.15em; margin-left: 2px"
                    th:text="${tg.scrip}">ABB</span>

                <a href="#" class="button primary rounded outline mini" th:href="@{'/wl/db/' + ${tg.scrip}}"
                    role="button" style="margin-left: 700px;"> <span class="mif-backspace icon"
                        style="margin-left: 0px"></span> <span style="margin-left: px">Back
                        to Scrip</span>
                </a>
            </h6>

            <!-- Token ocnfig - Starts  -->


            <!--Error Messages Row - Ends -->
            <form th:object="${tg}" th:action="@{'/wl/tgUpdate'} " method="post">
                <input type="hidden" th:field="*{scrip}" />

                <div class="cell-9" style="margin-top: 15px; margin-bottom: 10px;">
                    <span style="color:  #239EE3; padding: 10px; font-weight:500;">Trigger Type: </span>
                    <select class="form-control" th:field="*{triggertype}" data-cls-option="fg-cyan"
                        data-cls-selected-item="bg-teal fg-white">
                        <option th:each="stat : ${T(imgr.com.iManager_App.ui.enums.EnumTrigger).values()}"
                            th:value="${stat.name()}" th:text="${stat.name()}">
                        </option>
                    </select>
                </div>

                <div class="cell-9" style="margin-top: 15px; margin-bottom: 10px;">
                    <input type="text" data-role="materialinput" placeholder="Details" data-icon="<span class='mif-note'>"
                        data-label="Rationale Details" data-informer="Details" data-cls-line="bg-cyan" data-cls-label="fg-cyan"
                        data-cls-informer="fg-lightCyan" data-cls-icon="fg-darkCyan" th:field="*{details}">
                </div>


                <div class="row flex-justify-end" style="padding-right: 50px; padding-top: 5px; padding-bottom: 40px">
                    <button class="button mini primary rounded outline" style="margin-left: 0px">
                        <span class="mif-floppy-disk" style="margin-left: 0px"> </span> <span
                            style="margin-left: 3px">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- URL config Form Row - Ends  -->
    </div>

    <script src="https://cdn.metroui.org.ua/5.0.6/metro.js"></script>
</body>

</html>